div(ng-include='"components/navbar/navbar.html"')

.container
  .row
    form.form-horizontal
      fieldset
        .form-group
          label.col-md-4.control-label(for='text') Text
          .col-md-5
            input#text.form-control.input-md(name='text', type='text', placeholder='text', required='', ng-model='search.text', ng-change="doSearch()", ng-model-options="{ debounce: 500 }")
        .form-group
          label.col-md-4.control-label(for='room') Room
          .col-md-5
            select#room.form-control(name='room', ng-model='search.room', ng-change="doSearch()")
              option(ng-repeat="room in rooms" value='{{room}}') {{::room}}


  div(ng-repeat="room in results.rooms")
    h3 {{room}}
    table.table.table-hover.table-bordered.table-condensed
      tr(ng-repeat='message in results.messages | filter:{to: room}', ng-class="{success: message.highlight}")
        td.col-md-1
          span {{message.from}}
        td.col-md-9
          span(ng-bind-html="message.text | trust_html")
        td.col-md-2
          span {{message.date | date:'short'}}

  div(ng-show="notFound")
    h3 Not found, yo.
